@import "./backgrounds.css";
@import "./typography.css";

:root {
  color-scheme: dark;
}

.modal-frame {
  border: 1px solid var(--color-yellow-700) !important;
}

.bg-image-blue,
.modal-shell {
  background-color: transparent !important;
  background-blend-mode: overlay;
  background-image: url(../assets/maptexture2.webp),
    linear-gradient(var(--gray-950), var(--gray-900));
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
