@import "tailwindcss";
@import "./utilities.css";
@import "./colors.css";
@import "./fonts.css";
@import "./animations.css";
@import "./extras.css";
@import "./backgrounds.css";
@import "./typography.css";
@import "./modals.css";

kbd {
  background: var(--color-green-700);
  color: var(--color-gray-100);
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  /* These two styles are necessary for system to work */
  /* Prevent scrolling when modal is open */
  touch-action: manipulation;
}
