@import "tailwindcss";
@import "./utilities.css";
@import "./colors.css";
@import "./fonts.css";
@import "./animations.css";
@import "./extras.css";
@import "./backgrounds.css";
@import "./typography.css";
@import "./modals.css";

:root {
  --egg-pattern-width: 300px;
  --egg-border-height: 90px;
  --egg-bottom-offset: -30px;
  --top-nav-bar-height: 70px;
}

.easter-egg-border {
  position: absolute;
  bottom: var(--egg-bottom-offset);
  left: 0;
  width: 100%;
  height: var(--egg-border-height);
  background-image: url("./easter-eggs.svg");
  background-repeat: repeat-x;
  background-size: var(--egg-pattern-width) var(--egg-border-height);
  z-index: 25;
  pointer-events: none;
}

kbd {
  background: var(--color-green-700);
  color: var(--color-gray-100);
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  /* These two styles are necessary for system to work */
  /* Prevent scrolling when modal is open */
  touch-action: manipulation;
}
