.arcuata,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arcuata Trial", serif;
  font-weight: 500;
  color: white;
}
h1:first-letter,
h2:first-letter {
  font-feature-settings: "ss01";
}
.font-style-normal {
  font-weight: 400;
  text-transform: none;
}
.font-style-normal,
body {
  font-family: "DM Sans", sans-serif;
}
