.ee-content {
  position: relative; /* Needed for absolute positioning of the close button within it */
  background: var(--color-ee-modal-bg);
  padding: var(--ee-sys-modal-padding);
  border-radius: var(--radius-ee-modal);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  pointer-events: auto; /* Allow interaction with content */
}

.ee-content.no-overlay-content {
  /* Styles for .ee-content if it's shown without an overlay */
  box-shadow: var(--shadow-ee-modal);
}
