.floating-close {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--color-ee-floating-close-bg);
  z-index: var(--ee-sys-z-index-floating-close-button);
  pointer-events: auto;
  border-radius: var(--radius-ee-close-button);
  width: var(--ee-sys-close-button-size);
  height: var(--ee-sys-close-button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: var(--color-ee-floating-close-icon);
  transition: background-color var(--ee-sys-animation-duration-fast) ease,
    color var(--ee-sys-animation-duration-fast) ease;
  box-shadow: var(--shadow-ee-floating-close);
}

.floating-close:hover {
  background: var(--color-ee-floating-close-bg-hover);
  color: var(--color-ee-floating-close-icon-hover);
}

.floating-close svg {
  width: var(--ee-sys-close-button-icon-size);
  height: var(--ee-sys-close-button-icon-size);
  stroke: currentColor;
  stroke-width: var(--ee-sys-close-button-icon-stroke-width);
}
