.ee-content {
  position: relative; /* Needed for absolute positioning of the close button within it */
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  pointer-events: auto; /* Allow interaction with content */
}

.ee-content.no-overlay-content {
  /* Styles for .ee-content if it's shown without an overlay */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
