.ee-backdrop {
  position: absolute; /* Position within container (.ee-container) */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto; /* Allows click for backdrop-click, children should override if they need clicks */
}
