/* This is the default close button, positioned relative to .ee-content */
.ee-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--color-ee-default-close-bg);
  border: none;
  border-radius: var(--radius-ee-close-button);
  width: var(--ee-sys-close-button-size);
  height: var(--ee-sys-close-button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-ee-default-close-icon);
  transition: background-color var(--ee-sys-animation-duration-fast) ease,
    color var(--ee-sys-animation-duration-fast) ease;
  z-index: var(
    --ee-sys-z-index-default-close-button
  ); /* Ensure it's above content within its parent (.ee-content) */
}

.ee-close-button:hover {
  background: var(--color-ee-default-close-bg-hover);
  color: var(--color-ee-default-close-icon-hover);
}

.ee-close-button svg {
  width: var(--ee-sys-close-button-icon-size);
  height: var(--ee-sys-close-button-icon-size);
  stroke: currentColor;
  stroke-width: var(--ee-sys-close-button-icon-stroke-width);
}
